<form action="/message/create" method="post">
    <label>Name</label><br>
    <input type="text" name="userName" /><br><br>
    <label>Surname</label><br>
    <input type="text" name="userSur" /><br><br>
    <input type="submit" value="Отправить" />
</form>